/* ---Element Styles---  */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #4c4c4c;
  background: rgb(95, 109, 128);
  background: linear-gradient(90deg, #d4eece, #55b3d0, #1e7eb7),
    url(./images/header-bg.jpg) repeat;
  background-blend-mode: multiply;
  background-size: cover;
}

.container {
  
}

header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin: 2.5em auto;
  border-radius: .35em;
  background: #4c9cc2;
  overflow: hidden;
  -webkit-box-shadow: 0 0 26px rgba(0, 0, 0, .13);
  box-shadow: 0 0 26px rgba(0, 0, 0, .13);
}

h2 {
  text-align: center;
  color: black;
  margin-top: 0;
  margin-bottom: 0.35em;
}

li span,
li input[type=text] {
  color: black;
  font-size: 1.3em;
  margin-bottom: .3em;
}